@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Syne&display=swap");

html,
body {
  font-family: Inter, roboto, sans-serif, arial;
  font-size: 10px;
}

@media only screen and (max-width: 425px) {
  html,
  body {
    font-size: 7px;
  }
}

@media only screen and (max-width: 300px) {
  html,
  body {
    font-size: 6px;
  }
}
